body {
	background: #fff;
	color: #666;
	font: Arial, Helvetica, sans-serif;
	margin: 0 auto;
}
h1 {
	font: 1.7em;
	line-height: 110%;
	color: #000;
}
p {
	margin: 0 0 20px;
}


input {
	outline: none;
}

input::-webkit-search-decoration,
input::-webkit-search-cancel-button {
	display: block; 
}
.col-8 .col-4{
	width: 30%;
    border: 0.1em rgb(0, 0, 0) solid;
    border-radius: 0.3em;
}


input:-moz-placeholder {
	color: #999;
}
input::-webkit-input-placeholder {
	color: #999;
}